*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.product-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.product-form div {
  padding: 10px;
}

.dashboard {
  height: 100vh;
  display: grid;
  grid-template-rows: 60px 1fr 1fr;
  grid-template-columns: repeat(3, 1fr);
  background-color: #f2f2f3;
}
.dashboard #main-body {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 4;
  padding: 10px 25px;
  width: 100%;
  overflow: scroll;
}

/* LG screens */
@media only screen and (min-width: 1200px) {
  .dashboard {
    grid-template-columns: repeat(5, 1fr);
  }

  #navbar,
  #main-body {
    grid-column-end: 6;
  }
}
/* MD screens */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .dashboard {
    grid-template-columns: repeat(4, 1fr);
  }
  #navbar,
  #main-body {
    grid-column-end: 5;
  }
}
/* SM screens */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .dashboard {
    grid-template-columns: repeat(3, 1fr);
  }
  #navbar,
  #main-body {
    grid-column-end: 4;
  }
}
/* XS screens */
@media only screen and (max-width: 768px) {
  #navbar,
  #main-body {
    grid-column-end: 4;
  }

  .product-form {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

#side-bar {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}
#brand {
  grid-column: 1 1;
  grid-row: 1 1;
}
#navbar {
  grid-column-start: 2;
  grid-row: 1 1;
}

#main-body::-webkit-scrollbar {
  width: 7px;
}

#main-body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

#main-body::-webkit-scrollbar-thumb {
  background: #2ecc71;
  border-radius: 10px;
}
